<?xml version='1.0' encoding='utf-8'?>
<plugin
        id="cordova-plugin-huawei-games"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
>
    <name>cordova-plugin-huawei-games</name>
    <description>Cordova plugin to work with Huawei Games services</description>
    <js-module src="www/huaweigames.js" name="HuaweiGames">
        <clobbers target="HuaweiGames" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=9.0" />
        <engine name="cordova-android" version=">=9.0.0" />
    </engines>

    <platform name="android">

        <hook type="before_plugin_uninstall" src="hooks/before_plugin_uninstall.js" />
        <hook type="after_plugin_install" src="hooks/after_plugin_install.js" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HuaweiGamesPlugin">
                <param name="android-package" value="io.luzh.cordova.plugin.HuaweiGamesPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <queries>
                <intent>
                    <action android:name="com.huawei.hms.core.aidlservice" />
                </intent>
            </queries>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data
                    android:name="com.huawei.hms.client.channel.androidMarket"
                    android:value="false" />
        </config-file>

<!--        <framework src="org.apache.httpcomponents:httpcore:4.4.1" />-->
<!--        <framework src="org.apache.httpcomponents:httpclient:4.5" />-->
        <framework src="com.huawei.hms:hwid:6.4.0.301" />
        <framework src="com.huawei.hms:game:5.0.4.303" />
        <framework src="src/android/huaweigames.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/HuaweiGamesPlugin.java"
                     target-dir="src/io/luzh/cordova/plugin" />
<!--        <framework src="com.android.support:support-v4:+" />-->
<!--        <framework src="com.android.support:recyclerview-v7:27.1.1" />-->

    </platform>
</plugin>
